.grid {
  position: absolute;
  width: 1370px;
  height: 650px;
  border: solid black 1px;
  align-self: center;
}

.block {
  position: absolute;
  width: 125px;
  height: 25px;
  background-color: red;
}

.user {
  position: absolute;
  width: 150px;
  height: 25px;
  background-color: black;
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: violet;
}
